     
     <h1>Angular Calculator</h1>

      <section>
        <form #calcForm="ngForm">

        <p class="calcTitles">Sum:</p>
        <fieldset class="calcFieldset">
          
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="add_1" name="add_1" #add1Ctrl="ngModel" >
          <p>+</p>
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="add_2" name="add_2" #add2Ctrl="ngModel" >
          <input class="calcButton" type="button" value="=" (click)="onAdd()">
          <p *ngIf="displaySumBool">{{val1}} + {{val2}}={{sum}}</p>
        </fieldset>

        <p class="calcTitles">Difference</p>
        <fieldset class="calcFieldset">
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="sub_1" name="sub_1" #sub1Ctrl="ngModel" >
          <p>-</p>
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="sub_2" name="sub_2" #sub2Ctrl="ngModel" >
          <input class="calcButton" type="button" value="=" (click)="onSub()">
          <p *ngIf="displaySubBool">{{val1}} - {{val2}}={{diff}}</p>
        </fieldset>

        <p class="caldTitles">Product</p>
        <fieldset class="calcFieldset">
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="fac_1" name="fac_1" #fac1Ctrl="ngModel" >
          <p>*</p>
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="fac_2" name="fac_2" #fac2Ctrl="ngModel" >
          <input class="calcButton" type="button" value="=" (click)="onFac()">
          <p *ngIf="displayProdBool">{{val1}} * {{val2}}={{prod}}</p>
        </fieldset> 

        <p class="calcTitles">Quotient</p>
        <fieldset class="calcFieldset">
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="div_1" name="div_1" #div1Ctrl="ngModel" >
          <p>\</p>
          <input class="calcInput" type="number" minlength="1" required 
          [(ngModel)]="div_2" name="div_2" #div2Ctrl="ngModel">
          <input class="calcButton" type="button" value="=" (click)="onDiv()">
          <p *ngIf="displayQuotBool">{{val1}} / {{val2}}={{quot}}</p>
        </fieldset>
        </form>
      </section>